<!DOCTYPE html>
<link rel="icon" type="image/png" href="/img/favicon.ico" />
<html>

<head>
    <!--need <link rel="stylesheet" href="{{ .DocumentRoot }}/static/css/main.css"> -->
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <!--need <link rel="stylesheet" href="{{ .DocumentRoot }}/static/lib/element-ui/element-ui/lib/theme-chalk/index.css"> -->
    <!-- import Vue before Element -->
    <!--<script src="https://unpkg.com/vue@2/dist/vue.js"></script>-->
    <!--need <script src="{{ .DocumentRoot }}/static/lib/vue/vue.js"></script> -->
    <!-- import JavaScript -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <!--need <script src="{{ .DocumentRoot }}/static/lib/element-ui/element-ui/lib/index.js"></script>-->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <!--cdn引入ElementUI组件必须先引入Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- cdn引入ElementUI组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #app {
            font-family: Avenir, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
            overflow: hidden;
            width: 100%;
            height: 100%;
            position: absolute;
            /* overflow: hidden; */
        }

        .img-contain {
            display: flex;
            justify-content: center;
            margin: 30px 0;
        }

        .img-logo {
            width: 150px;
        }

        .container {
            /* height: 90%; */
            width: 100%;
            height: calc(100vh - 50px);
            overflow-y: auto;
        }

        .btn {
            display: flex;
            justify-content: center;
        }

        .formContainer {
            display: flex;
            justify-content: center;
        }

        .el-form_i {
            width: 30vw;
        }

        .tableContainer {
            width: 600px;
            margin: 30px auto;
        }

        .el-select {
            width: 100%;
        }

        .el-input {
            width: 100%;
        }

        .marginLeft {
            width: 81%;
        }

        .el-select-dropdown__item {
            margin: 5px;
        }

        .el-button {
            display: inline-block;
        }

        .circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: block;
            margin: 0 40%;
        }

        .redCircle {
            background-color: red;
        }

        .greenCircle {
            background-color: green;
        }

        .grayCircle {
            background-color: gray;
        }

        .footerContainer {
            display: flex;
            justify-content: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            box-shadow: 0 -2px 10px rgba(0, 0, 0, .05);
        }

        .tip {
            text-align: center;
        }

        ul.el-menu-demo.el-menu--horizontal.el-menu--collapse.el-menu ul.el-menu-demo.el-menu--horizontal.el-menu--collapse.el-menu:hover {
            background: transparent;
        }

        ul.el-menu-demo.el-menu--horizontal.el-menu--collapse.el-menu {
            border-bottom: none;
        }
    </style>
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="img-contain">
                <image class="img-logo" src="./serve.png">
                </image>
            </div>
            <div class="formContainer">
                <el-form class="el-form_i" ref="newForm" :model="newForm" label-width="80px">
                    <el-form-item label-width="100px" label="基础镜像：">
                        <el-select v-model="newForm.baseImage">
                            <el-option value="vscode">VSCode</el-option>
                            <el-option value="ubuntu">Ubuntu</el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label-width="100px" label="核数配置：">
                        <el-select v-model="newForm.core">
                            <el-option label="2核" value="2"></el-option>
                            <el-option label="4核" value="4"></el-option>
                            <el-option label="8核" value="8"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label-width="100px" label="内存配置：">
                        <el-select v-model="newForm.memory">
                            <el-option label="4G" value="4"></el-option>
                            <el-option label="8G" value="8"></el-option>
                            <el-option label="16G" value="16"></el-option>
                        </el-select>
                    </el-form-item>
                    <!-- <el-form-item label-width="100px" label="容器名称：">
                        <el-input class="marginLeft" v-model="newForm.customName" placeholder="请输入内容"></el-input>
                    </el-form-item> -->

                    <el-form-item>
                        <div class="btn">
                            <el-button v-if="seen==true" type="primary" @click="onSubmit('newForm')">立即创建</el-button>
                            <el-button disabled v-else="seen==false" loading type="primary">正在创建</el-button>
                            <el-button @click="clrSubmit('newForm')" :disabled="seen==false">重 置</el-button>
                        </div>
                    </el-form-item>
                </el-form>
            </div>
            <div class="tableContainer">
                <el-table :data="userData" @cell-click="clickMore" style="width: 100%">
                    <el-table-column fixed align="center" prop="containerId" label="容器名称" width="100">
                    </el-table-column>
                    <el-table-column prop="status" align="center" label="容器状态" width="90">
                        <template slot-scope="scope">
                            <i class="circle" :class="{'redCircle': scope.row.status === -1,
                        'grayCircle': scope.row.status === 0,
                        'greenCircle': scope.row.status === 1}"></i>
                        </template>
                    </el-table-column>
                    <el-table-column prop="baseImage" align="center" label="基础镜像" width="100">
                    </el-table-column>
                    <el-table-column prop="core" align="center" label="CPU" width="100">
                    </el-table-column>
                    <el-table-column prop="memory" align="center" label="内存" width="100">
                    </el-table-column>
                    <el-table-column align="center" label="操作" width="100">
                        <template slot-scope="scope">
                            <el-menu v-if="scope.row.status === 1" :default-active="activeIndex" class="el-menu-demo"
                                mode="horizontal" :collapse="true" menu-trigger="click" @select="handleSelect">
                                <div style="display: inline-block;height: 64px;line-height: 64px;text-align: center;">
                                    <img src="./open.svg" style="height: 20px; width: 20px;" alt="">
                                    <img src="./close.svg" style="height: 20px; width: 20px;" alt="">
                                </div>
                                <el-submenu index="1">
                                    <el-menu-item index="1-1">进 入</el-menu-item>
                                    <el-menu-item index="1-2">扩 容</el-menu-item>
                                    <el-menu-item index="1-3">删 除</el-menu-item>
                                </el-submenu>
                            </el-menu>
                            <el-menu v-else :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                                :collapse="true" menu-trigger="click" @select="handleSelect">
                                <div style="display: inline-block;height: 64px;line-height: 64px;text-align: center;">
                                    <img src="./open.svg" style="height: 20px; width: 20px;" alt="">
                                    <img src="./close.svg" style="height: 20px; width: 20px;" alt="">
                                </div>
                                <el-submenu index="1">
                                    <el-menu-item index="1-1">进 入</el-menu-item>
                                    <el-menu-item index="1-3">删 除</el-menu-item>
                                </el-submenu>
                            </el-menu>
                        </template>
                    </el-table-column>
                </el-table>
                <el-dialog title="扩容" :visible.sync="dialogFormVisible" center>
                    <el-form :model="expandForm">
                        <el-form-item label="容器名称" :label-width="formLabelWidth">
                            <el-input v-model="expandForm.containerId" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="CPU" :label-width="formLabelWidth">
                            <el-select v-model="expandForm.core">
                                <el-option v-for="(val,idx) in cores" :label="val.label" :key="val.val"
                                    :value="val.val"></el-option>
                            </el-select>
                            <!-- <el-input v-model="expandForm.core" autocomplete="off"></el-input> -->
                        </el-form-item>
                        <el-form-item label="内存" :label-width="formLabelWidth">
                            <el-select v-model="expandForm.memory">
                                <el-option v-for="(val,idx) in memorys" :label="val.label" :key="val.val"
                                    :value="val.val"></el-option>
                            </el-select>
                            <!-- <el-option label="4G" value="4"></el-option>
                                                <el-option label="8G" value="8"></el-option>
                                                <el-option label="16G" value="16"></el-option> -->
                            <!-- <el-input v-model="expandForm.memory" autocomplete="off"></el-input> -->
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="handleExpand">确 定</el-button>
                        <!-- <el-button @click="dialogFormVisible = false">取消</el-button> -->
                        <el-button @click="clearExpand">重 置</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
        <div class="footerContainer">
            <div>
                <div class="tip">10核20G/人</div>
                <div class="tip">遇到问题联系serve@ict.ac.cn</div>
            </div>
        </div>
        <!-- <el-button type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button> -->


    </div>

    <script>
        new Vue({
            el: '#app',
            data: function () {

                return {
                    base_url: "http://10.130.10.34:5500",
                    newForm: {
                        baseImage: 'vscode',
                        core: 2,
                        memory: 4
                        // customName: ""
                    },
                    activeIndex: '1',
                    userData: [],
                    // userData: [{
                    //     "containerId": "zhangsi1",
                    //     "status": 0,//0,1,2
                    //     "baseImage": "vscode",
                    //     "core": 4,
                    //     "memory": 8
                    // }, {
                    //     "containerId": "vscode-20230908170614-loonghan",
                    //     "status": 1,//0,1,2
                    //     "baseImage": "vscode",
                    //     "core": 2,
                    //     "memory": 4
                    // }, {
                    //     "containerId": "vscode-20230908170614-loonghan",
                    //     "status": 1,//0,1,2
                    //     "baseImage": "vscode",
                    //     "core": 4,
                    //     "memory": 8
                    // }],
                    seen: true,
                    dialogFormVisible: false,
                    expandForm: {
                        containerId: "",
                        core: 0,
                        memory: 0
                    },
                    formLabelWidth: '120px',
                    changeItem: null,//存储表格中用户点击的某行数据
                    online: true,
                    cores: [
                        { "label": "2核", "val": 2 },
                        { "label": "4核", "val": 4 },
                        { "label": "8核", "val": 8 }
                    ],
                    memorys: [
                        { "label": "4G", "val": 4 },
                        { "label": "8G", "val": 8 },
                        { "label": "16G", "val": 16 }
                    ]
                }
            },
            mounted() {
                axios.get('/api/container').then(res => {
                    console.log('/api/container:',res);
                    if (res.status == 200) {
                        console.log("successful");
                        //给this.userData赋值
                        // this.testGetData = response.data.return_data[0].content
                        this.userData = res.data
                    } else {
                        //未查询出用户名，返回500服务器错误？？
                        console.log(res.message)
                    }
                }).catch(err => {
                    console.error('/api/container:',err);
                })
            },
            methods: {
                onSubmit() {
                    this.seen = false
                    this.newForm.core=parseInt(this.newForm.core)
                    this.newForm.memory=parseInt(this.newForm.memory)
                    axios.post('/api/container/new', this.newForm)
                        .then(response => {
                            // 处理请求成功的响应数据
                            console.log('/api/container/new:',response);
                            if (response.status == 200) {
                                //创建容器成功
                                console.log(response);
                                //跳转
                                let containerId = response.data.containerId
                                let url = "http://"+containerId+".oms.agileserve.org.cn:30915"
                                console.log(url);
                                setTimeout(()=>{
                                    window.location.href=url
                                },3000)
                                
                            } else if (response.status == 500) {
                                //创建失败，处理错误
                                console.log(response.message)
                            }
                        })
                        .catch(error => {
                            // 处理请求失败
                            console.log(this.newForm);//{baseImage: "vscode", core: "2", memory: "4"}
                            console.error('/api/container/new:', error);
                        });
                },
                clrSubmit(idx) {
                    this.$refs[idx].resetFields();
                },
                params2url(obj) {
                    return Object.keys(obj).filter(v => Array.isArray(obj[v]) ? obj[v].length : obj[v]).map(v => `${v}=${obj[v]}`).join('&')
                },
                handleSelect(key, keyPath) {
                    console.log(key, keyPath);
                    //进入容器
                    if (key == '1-1') {
                        // if()
                        url = "http://" + this.changeItem.containerId + ".oms.agileserve.org.cn:30915"
                        window.location.href = url
                    }
                    //扩容容器
                    if (key == '1-2') {
                        this.dialogFormVisible = true
                        this.expandForm = {
                            containerId: this.changeItem.containerId,
                            core: parseInt(this.changeItem.core),
                            memory: parseInt(this.changeItem.memory)
                        }
                        this.cores = this.cores.filter(item => item.val >= this.expandForm.core);
                        this.memorys = this.memorys.filter(item => item.val >= this.expandForm.memory);
                    }
                    console.log(this.dialogFormVisible);
                    //删除容器
                    if (key == '1-3') {
                        //this.userData()
                        axios.post('/api/container/delete', params = {
                            "containerId": this.changeItem.containerId
                        })
                            .then(res => {
                                console.log('/api/container/delete:',res)
                                if (res.status == 200) {
                                    //删除成功，重新获取表格
                                    axios.get('/api/container').then(res => {
                                        console.log('/api/container:',res);
                                        if (res.status == 200) {
                                            //给this.userData赋值
                                            // this.testGetData = response.data.return_data[0].content
                                            this.userData = res.data
                                        } else {
                                            //未查询出用户名，返回500服务器错误？？
                                            console.error(res.message)
                                        }
                                    }).catch(err => {
                                        console.error('/api/container/delete:',err);
                                    })
                                }
                            })
                            .catch(err => {
                                console.error('/api/container/delete:',err);
                            })
                    }
                },
                clickMore(row, column, cell, event) {
                    console.log(row);
                    console.log(cell);
                    if (row.status == 0) {
                        //离线，请求重新创建
                        // axios.post(url,params)
                        // .then(res => {
                        //     console.log(res)
                        // })
                        // .catch(err => {
                        //     console.error(err); 
                        // })        
                    } else if (row.status == 1) {
                        //在线，可以直接进入，赋值给变量online
                        this.online = true
                        this.changeItem = JSON.parse(JSON.stringify(row))
                        console.log(this.changeItem);
                    }
                },
                handleExpand() {
                    this.dialogFormVisible = false
                    this.cores = [
                        { "label": "2核", "val": 2 },
                        { "label": "4核", "val": 4 },
                        { "label": "8核", "val": 8 }
                    ],
                    this.memorys = [
                        { "label": "4G", "val": 4 },
                        { "label": "8G", "val": 8 },
                        { "label": "16G", "val": 16 }
                    ]
                    if(parseInt(this.expandForm.core) == 0||parseInt(this.expandForm.memory) == 0){
                        console.log('error submit!! cpu或内存不能为空');
                        this.expandForm.core = parseInt(this.changeItem.core)
                        this.expandForm.memory = parseInt(this.changeItem.memory)
                    }
                    axios.post('/api/container/expand', params = {
                        "containerId": this.expandForm.containerId,
                        "newCore": parseInt(this.expandForm.core),
                        "newMemory": parseInt(this.expandForm.memory)
                    })
                        .then(res => {
                            console.log('/api/container/expand:',res)
                            if (res.status == 200) {
                                //扩容成功
                                //重新获取
                                axios.get('/api/container').then(res => {
                                    console.log('/api/container:',res);
                                    if (res.status == 200) {
                                        //给this.userData赋值
                                        // this.userData = response.data.return_data[0].content
                                        this.userData = response.data

                                    } else {
                                        //未查询出用户名，返回500服务器错误？？
                                        console.error(res.message)
                                    }
                                }).catch(err => {
                                    console.error('/api/container:',err);
                                })
                            }
                        })
                        .catch(err => {
                            console.error('/api/container/expand:',err);
                        })
                },
                clearExpand(){
                        this.expandForm.core = parseInt(this.changeItem.core)
                        this.expandForm.memory = parseInt(this.changeItem.memory)
                }
            }
        })
    </script>

</body>

</html>